/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/* === Login form ===  */
.login-form {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.form-signin{
    text-align:center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* === ARTICLE Page === */
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/* ========== ..:: NK ::..  ========== */
.bgr_banner {
    /*background-image: url("/assets/img/bg_banner.jpg");*/
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
    position: relative;
}
.bgr_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.bgr_banner > *{
    position: relative;
    z-index: 2;
}

/*---*/
.message_nk{
    text-align: center;
    font-weight: bold;
}

.mr_top20_nk{
    margin-top: 20px;
}

.nk_banner_title{
    color:#d3cfcf;
    text-stroke: 1px #ffda00;
        -webkit-text-stroke: 1px #ffda00;
}

.nk_banner_content{
    color:#ffffff;
    /*text-stroke: 1px #00a6ff;*/
    /*-webkit-text-stroke: 1px #00A6FF;*/
}
