<footer class="text-muted">
        <div class="container" style="margin-bottom:50px;">
                <hr>

                <p class="float-right">
                        <a href="#">В верх. </a>
                </p>
                <p>Пример авторского блога. Используя Фреймворк Symfony версии 2.8</p>
                <p>Cреда: VirtualBox; ОС Linux; Apache 2.4; Php 5.6; MySql 14.14; Symfony 2.8; Composer; | <a href="http://nikolay.nk.md" terget="_blank">&copy; 2023</a></p>
        </div>
</footer>