<header>
        <menu class="demo">
                <ul>
                        <li><a href="{{ path('homepage') }}">Главная</a></li>
                        <li><a href="{{ path('articles') }}">Статьи</a></li>
                        <li><a href="">Поиск</a></li>
                        <li><a href="">Вход/Выход</a></li>
                </ul>
        </menu>
</header>


