{# app/Resources/views/content/add-article-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/AddArticleController.php' #}

{% extends 'base.html.twig' %}


{% block body %}

    {% if message %}
        <div class="alert alert-primary message_nk" role="alert">{{ message }}</div>
    {% endif %}

    <div class="container">
        <h1>Добавление новой статьи</h1>
        <hr/>

        <form action="/addarticle" method="post">

            <div class="form-row">
                <!-- col Left -->
                <div class="form-group col-md-8">

                    <label for="title" class="mr_top20_nk">Заголовок:</label>
                    <input type="text" class="form-control" id="title" placeholder="" name="title">

                    <label for="content" class="mr_top20_nk">Контент:</label>
                    <textarea class="form-control" id="content" style="min-height: 250px" name="content"> </textarea>

                </div>

                <!-- col Right -->
                <div class="form-group col-md-4">
                    <label for="id" class="mr_top20_nk">ID:</label>
                    <input type="text" class="form-control" id="id" placeholder="" disabled>

                    <label for="date" class="mr_top20_nk">Дата:</label>
                    <input type="date" class="form-control" id="date" placeholder="" name="date">

                    <label class="mr-sm-2 mr_top20_nk" for="category">Категория:</label>
                    <select class="custom-select mr-sm-2" id="category" name="category_id">
                        {% for entry in categories_list %}
                        <option value="{{ entry.cat_id }}">{{ entry.cat_name }}</option>
                        {% endfor %}
                    </select>

                    <label class="mr-sm-2 mr_top20_nk" for="status">Статус:</label>
                    <select class="custom-select mr-sm-2" id="status" name="status">
                        <option value="published">Опубликована</option>
                        <option value="draft" selected>Черновик</option>
                        <option value="draft">Удалён</option>
                    </select>

                    <label class="mr-sm-2 mr_top20_nk" for="access">Доступ:</label>
                    <select class="custom-select mr-sm-2" id="access" name="access">
                        <option value="all">ALL</option>
                        <option value="vip">VIP</option>
                    </select>

                </div>
            </div>

            <input type="submit" class="btn btn-primary" name="add_btn" value="Добавить" />
            <input type="reset" class="btn btn-outline-primary" value="Очистить" />
        </form>

    </div>

{% endblock %}
