{# app/Resources/views/content/admin-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/AdminPageController.php' #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Admin Page
    </div>
{% endblock %}
