{# app/Resources/views/content/article-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/ArticlesPageController.php' #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Articles Page
    </div>
{% endblock %}
