{# app/Resources/views/content/blog-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/BlogPageController.php' #}

{% extends 'base.html.twig' %}


{% if message %}
    <div class="alert alert-primary" role="alert">{{ message }}</div>
{% endif %}

{% block body %}

    <div>{{ dump (data) }}</div>

{% endblock %}
