{# app/Resources/views/content/blog-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/BlogPageController.php' #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Blog Page
    </div>

    <p>var1: {{ data }}</p>

{% endblock %}
