{# app/Resources/views/content/home-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/DefaultController.php' #}

{% extends 'base.html.twig' %}

{% block slider %}
    <div class="slider"></div>
{% endblock %}

{% block body %}
{#    {% if message %}#}
{#        <div class="alert alert-primary" role="alert">{{  message }}</div>#}
{#    {% endif %}#}

    <div>{{ dump (data) }}</div>

    <h1 class="test_number_twig">var1 </h1>
{#    <h1 class="test_number_twig">{{ dump (data) }}</h1>#}

{% endblock %}
