{# app/Resources/views/content/login-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/LoginPageController.php' #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Login Page
    </div>
{% endblock %}
