{# app/Resources/views/content/search-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/SearchPageController.php' #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Search Page
    </div>
{% endblock %}
